<%- include('../partials/header') %>


<ul>
    <a href="/skills/new">Add Skill</a>
    <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
            <%= s.level %>
        </li>
        <% }); %>
    </ul>
    
    
    <%- include('../partials/footer') %>